body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(186,75,65,0.8);
    font-family: Helvetica, Sans-Serif;
   
}
.home{
    display: flex;
    /* background: url("../Images/nav.jpeg"); */

}

.img-div img{
    height: 150px;
    width: 200px;
}



.freebies{
    letter-spacing: 1.5px;
    font-size: 5rem !important;
    text-align: center;
    margin: 20px 10%;

}

.review{
    font-size: 4rem;
}

.save{
    font-size:3rem ;
    margin-left: 10vw;
    letter-spacing: 2px;
}

.nation{
    font-size: 3rem;
    margin-left:25vw ;
    letter-spacing: 2px;

}

.div-button{
    margin-left: 20vw;
    margin-top: 30px;
   
}

.div-button button{
    letter-spacing: 1.3px;
    font-size: larger;

}

.right-side{
    position:absolute;
    top: 40%;
    right: 0px;
}

.box{
    width: 200px;
    border: 2px solid black;
    margin: 10px 0px;
    padding: 3px 5px;
    background-color: aliceblue;
}


.arrow a{
    font-size: 2rem;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    margin-left: 10px;
}

.div1:hover,.div2:hover,.div3:hover{
    background-color: rgb(244, 230, 230);
    cursor: pointer;
    
}

.div1:hover .arrow{
    margin-left: 25px;
    cursor: pointer;

}

.meet:hover .a2{
    margin-left: 25px;
    cursor: pointer;

}

.events:hover .a3{
    margin-left: 25px;
    cursor: pointer;
}


.div3:hover .arrow{
    margin-left: 10px;
    cursor: pointer;

}

.play{
    margin-left: 10vw;
    font-size: 30px;
    letter-spacing: 2px;
    cursor: pointer;
}

